#j_idt11\3a j_idt12 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 150px;
	margin-left: -200px;
	margin-top: -100px;
	text-align: center;
}
	
#j_idt13 {
	position: absolute;
	top: 10%;
	left: 35%;
}
	
#j_idt14 {
	position: absolute;
	top: 90%;
	left: 10%;
}
	
#j_idt16 {
	position: absolute;
	top: 90%;
	left: 65%;
	width:350px;
	height:358px;
}
	
#j_idt20 {
	position: absolute;
	top: 180%;
	left: 40%;
}	

#link{
	position: absolute;
	left: 50%;
}

#labelLink{
	position: absolute;
	left: 42%;
}

#download{
	position: absolute;
	left: 80%;
	top: 25%
}


.loader{
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	top: 0;
	background: rgba(0,0,0,0.3);
	z-index: 1;
}

.loader img{
	position: absolute;
	top: 40%;
	left: 43%;
	bottom: 0;
	
}
